*{
	font-family: 'Josefin Sans', sans-serif;
}


/*header*/
h1{
	padding-left: 20px;
}

Header{
display: flex;
padding: 10px;
background-color: rgb(36, 51, 50);
color: white;
font-weight: bolder;
justify-content: space-between;
}

.divContainer > ul{
	align-items: center;
	display: flex;
	list-style: none;
}
.divContainer>h1{
	font-family: Arial, Helvetica, sans-serif;
}

.divContainer > ul >ol >button{
	border: none;
	padding: 20px;
	color:white;
	background:none;
	font-weight: bolder;
	font-size: 20px;
}
.conector{
	border: none;
	padding: 20px;
	color:white;
	background:none;
	font-weight: bolder;
	font-size: 20px;
	text-decoration: none;
}
.conector2{
	border: none;
	padding: 20px;
	color:white;
	background:none;
	font-weight: bolder;
	text-decoration: none;
}




.divContainer > ul >ol >button:hover{
	transform: scale(1.1);
	cursor: pointer;
}



.idioma{
	color: white;
 background: none;
	border: none;
	font-weight: bolder;
}

.idioma:hover{
	transform: scale(1.1);
	cursor: pointer;
}

/*end header*/
/*start main*/
/*section1*/
.contenedor{
	background-color: rgb(29, 56, 55);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}



.seccion1{
width: 550px;

}

.seccion1:hover{
	transform: scale(1.2);
 cursor: pointer;
}



.seccion1 >h3{
padding: 20px;
text-align: center;
color: white;
font-size: 30px;
margin: 0;
}
.seccion1 >p{
	color: white;
	font-size: 20px;
	text-align: center;
}
/*section2*/
.contenedor2{
	height: 105vh;
	display: grid;
	grid-template-columns: repeat(3,200px);
	grid-template-rows: repeat(2,300px);
grid-gap: 10px;
align-items: center;
justify-content: space-around;
background-color: rgb(4, 51, 47);
}

.contenedor2 >div{
	background-color: aqua;
	height: 200px;
}
.contenedor2 >div >p{
	text-align: center;
	font-weight: bolder;
 color:white ;
	font-size:25px;
}
.contenedor2 >div>img:hover{
	transform: scale(1.2);
}
/*end section2*/
/*end main*/

/*start footer*/

.footer{
	height: 40vh;
 color: white;
	background-color: rgb(29, 30, 32);
 justify-content: center;
	align-items: center;
	display: flex;
}
.link{
	text-decoration: none;
}
/*end footer*/